<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<!--Start of navbar-->
<div class="top">
    <div class="top-left">
        <h2>KindredSouls<span>Foundation</span></h2>
    </div>
    <div class="top-right">
        <a href="index.html"><button>Home</button></a>
        <a href="about.html"><button>About</button></a>
        <a href="gallery.html"><button>Gallery</button></a>
        <a href="team.html"><button>Team</button></a>
        <a href="events.html"><button>Events</button></a>
        <a href="contact.html"><button>Contact</button></a>
    </div>
</div>
<!--End of navbar-->
<!--Start of about section-->
<section class="about-section">
    <div class="about">
        <div class="about-left">
            <img src="../static/images/about.jpg" alt="No image">
        </div>
        <div class="about-right">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, natus, officia! Assumenda doloremque enim explicabo fugiat, ipsam minus molestias
                nam, perferendis provident quae quas temporibus, veniam. Et exercitationem expedita quod.</p>
            <h2>Values</h2>
            <ul>
                <li>Hard work</li>
                <li>Dedication</li>
                <li>Discipline</li>
                <li>Transparency</li>
                <li>Trust</li>
                <li>Love</li>
                <li>Humility</li>
            </ul>
            <span><i>Integrity is higher acknowledged and cherished and which is our light to guide us.
                    It will forever be, as it's not only our tradition
                    but also a reminder of who are as the <strong>KindredSoulsFoundation.</strong></i></span>
        </div>
    </div>
    <div class="about-container">
        <div class="card">
            <img src="../static/images/about-mission.jpg" alt="No image">
            <h3>Our Mission</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab dolorum, magnam magni praesentium repellendus sunt tempore ut? Autem blanditiis eligendi harum
                incidunt maxime odit, quisquam sequi ut voluptas voluptatum? Beatae.</p>
        </div>
        <div class="card">
            <img src="../static/images/about-plan.jpg" alt="No image">
            <h3>Our Plan</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto assumenda commodi labore officiis reprehenderit rerum suscipit
                ullam unde. Ad aliquid aperiam dolore eligendi libero magnam nesciunt quidem rerum veniam.</p>
        </div>
        <div class="card">
            <img src="../static/images/about-vision.jpg" alt="No image">
            <h3>Our Vision</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusamus delectus doloribus dolorum, error ipsum labore laboriosam molestiae
                molestias mollitia officiis placeat porro quae quia quod rem suscipit? Amet, ducimus.</p>
        </div>
    </div>
</section>
<!--End of about section-->
</body>
</html>