<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<!--Start of navbar-->
<div class="top">
    <div class="top-left">
        <h2>KindredSouls<span>Foundation</span></h2>
    </div>
    <div class="top-right">
        <a href="index.html"><button>Home</button></a>
        <a href="about.html"><button>About</button></a>
        <a href="gallery.html"><button>Gallery</button></a>
        <a href="team.html"><button>Team</button></a>
        <a href="events.html"><button>Events</button></a>
        <a href="contact.html"><button>Contact</button></a>
    </div>
</div>
<!--End of navbar-->
<!--Start of contact-->
<section class="contact-section">
    <div class="contact-container">
        <div class="contact-title">
            <h2>Contact</h2>
        </div>
        <div class="contact-questions">
            <div class="questions-title">
                <h3>FREQUENTLY ASKED QUESTIONS</h3>
            </div>
            <div class="questions">
                <div class="questions-left">
                    <div class="query">
                        <h4>1.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dolorum enim impedit necessitatibus praesentium, reiciendis. Autem cumque doloribus dolorum eligendi
                            hic, incidunt laboriosam laborum perferendis perspiciatis quia quisquam vitae voluptatibus.</p>
                    </div>
                    <div class="query">
                        <h4>2.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aliquam aut beatae, ea illo laboriosam
                            laborum magnam officiis, pariatur quo ratione rem repellat sed soluta temporibus totam ut velit?</p>
                    </div>
                    <div class="query">
                        <h4>3.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam aperiam consequatur culpa cumque deleniti
                            enim, fugiat harum illo magnam molestias nisi odio quae sapiente sed sunt totam vero voluptatem.</p>
                    </div>
                </div>
                <div class="questions-right">
                    <div class="query">
                        <h4>4.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias amet aperiam distinctio doloremque, error esse eum exercitationem
                            explicabo fugiat laboriosam molestias natus nisi obcaecati, officiis quia rem reprehenderit.</p>
                    </div>
                    <div class="query">
                        <h4>5.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci hic pariatur perspiciatis ut! Cumque deleniti ea, enim exercitationem
                            harum inventore iste natus, neque perspiciatis praesentium provident quasi recusandae soluta vel.</p>
                    </div>
                    <div class="query">
                        <h4>6.Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aliquam consequatur earum eum exercitationem, expedita hic ipsa,
                            magni natus neque, quasi quia quos reprehenderit sint totam veritatis voluptatem voluptatibus.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-social">
            <div class="social-title">
                <h2>Contact Us</h2>
            </div>
            <div class="social-content">
                <div class="social-left">
                    <div class="social">
                        <img src="../static/images/location.png" alt="No image">
                        <h4>Address:</h4>
                        <address>Nairobi, Kenya</address>
                    </div>
                </div>
                <div class="social-center">
                    <div class="social">
                        <img src="../static/images/instagram.png" alt="No image">
                        <h4>Instagram:</h4>
                        <p><a href="https://www.instagram.com">@KindredSoulsFoundation</a></p>
                    </div>
                </div>
                <div class="social-middle">
                    <div class="social">
                        <img src="../static/images/email.png" alt="No image">
                        <h4>Email:</h4>
                        <p><a href="#">KindredSoulsFoundation@gmail.com</a></p>
                    </div>
                </div>
                <div class="social-right">
                    <div class="social">
                        <img src="../static/images/phone.png" alt="No image">
                        <h4>Phone:</h4>
                        <p><a href="tel:0705743879">+254 705743879</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of contact-->
</body>
</html>