<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<!--Start of navbar-->
<div class="top">
    <div class="top-left">
        <h2>KindredSouls<span>Foundation</span></h2>
    </div>
    <div class="top-right">
        <a href="index.html"><button>Home</button></a>
        <a href="about.html"><button>About</button></a>
        <a href="gallery.html"><button>Gallery</button></a>
        <a href="team.html"><button>Team</button></a>
        <a href="events.html"><button>Events</button></a>
        <a href="contact.html"><button>Contact</button></a>
    </div>
</div>
<!--End of navbar-->
<!--Start of event section-->
<section class="event-section">
    <div class="event-container">
        <div class="event-title">
            <h2>Event Schedule</h2>
        </div>
        <div class="wrapper-content">
            <div class="selfie">
                <img src="../static/images/arrival.jpg" alt="No image">
                <span>Arrival</span>
            </div>
            <div class="selfie">
                <img src="../static/images/intro.jpg" alt="No image">
                <span>Introduction</span>
            </div>
            <div class="selfie">
                <img src="../static/images/testimony.jpg" alt="No image">
                <span>Testimony</span>
            </div>
            <div class="selfie">
                <img src="../static/images/fellowship.jpeg" alt="No image">
                <span>Fellowship</span>
            </div>
            <div class="selfie">
                <img src="../static/images/mentorship.jpg" alt="No image">
                <span>Mentorship</span>
            </div>
            <div class="selfie">
                <img src="../static/images/motivation.jpg" alt="No image">
                <span>Motivation</span>
            </div>
            <div class="selfie">
                <img src="../static/images/meals.png" alt="No image">
                <span>Meals</span>
            </div>
            <div class="selfie">
                <img src="../static/images/sports.jpeg" alt="No image">
                <span>Sports</span>
            </div>
            <div class="selfie">
                <img src="../static/images/memories.jpeg" alt="No image">
                <span>Memories</span>
            </div>
            <div class="selfie">
                <img src="../static/images/talents.jpg" alt="No image">
                <span>Talents</span>
            </div>
            <div class="selfie">
                <img src="../static/images/entertainment.jpg" alt="No image">
                <span>Entertainment</span>
            </div>
            <div class="selfie">
                <img src="../static/images/departure.jpg" alt="No image">
                <span>Departure</span>
            </div>
        </div>
        <div class="event-speaker-section">
            <div class="speaker-container">
                <div class="speakers-title">
                    <h2>Event Speakers</h2>
                </div>
                <div class="event-speaker">
                    <div class="speaker">
                        <img src="../static/images/speaker1.jpg" alt="No image">
                        <h2>Helna Wanjiku</h2>
                        <h3>ChairPerson</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum deleniti ducimus eum impedit iste magni, non officia
                            placeat praesentium qui quis suscipit tempora. Atque consequatur eveniet itaque quis veritatis?</p>
                    </div>
                    <div class="speaker">
                        <img src="../static/images/speaker2.jpg" alt="No image">
                        <h2>Louis Litt</h2>
                        <h3>Guest</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aut commodi consequatur corporis doloremque earum eius id ipsam
                            maiores molestiae necessitatibus nemo nihil optio provident quasi quod, repellat veniam voluptates?</p>
                    </div>
                    <div class="speaker">
                        <img src="../static/images/speaker3.jpg" alt="No image">
                        <h2>Paula Agard</h2>
                        <h3>Public Relations</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aut commodi consequatur corporis doloremque earum eius id ipsam
                            maiores molestiae necessitatibus nemo nihil optio provident quasi quod, repellat veniam voluptates?</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="event-venue-section">
            <div class="venue-container">
                <div class="venue-title">
                    <h2>Event Venue</h2>
                </div>
                <div class="venue">
                    <div class="venue-left">
                        <img src="../static/images/venue.jpg" alt="No image">
                    </div>
                    <div class="venue-right">
                        <div class="venue-info-title">
                            <h2>Venue Info</h2>
                        </div>
                        <div class="event-content">
                            <h3>Location:</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consequuntur dignissimos explicabo facere inventore nobis quaerat quasi quod, repellendus
                                sunt. Adipisci aut excepturi facilis incidunt, non perferendis quidem repudiandae unde!</p>
                            <h3>Time:</h3>
                            <time>9.00 AM</time>
                            <h3>Transport:</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, reiciendis sequi? Cupiditate iste, velit. Architecto aut dicta enim,
                                magnam natus, nemo non officia placeat quam quasi saepe sequi totam voluptatibus?</p>
                            <a href="https://www.instagram.com/the_poeticpen"><button>VENUE INFO</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of event section-->
</body>
</html>