<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<!--Start of navbar-->
<div class="top">
    <div class="top-left">
        <h2>KindredSouls<span>Foundation</span></h2>
    </div>
    <div class="top-right">
        <a href="index.html"><button>Home</button></a>
        <a href="about.html"><button>About</button></a>
        <a href="gallery.html"><button>Gallery</button></a>
        <a href="team.html"><button>Team</button></a>
        <a href="events.html"><button>Events</button></a>
        <a href="contact.html"><button>Contact</button></a>
    </div>
</div>
<!--End of navbar-->
<!--Start of gallery section-->
<section class="gallery-section">
   <div class="gallery-container">
       <div class="gallery-top">
           <div class="gallery-title">
               <h2><i>Some photos from Our Events</i></h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid autem cum cupiditate, exercitationem maxime molestiae molestias, nemo,
               nostrum quas quasi quia quidem quod recusandae rem saepe veritatis voluptates voluptatum?</p>
           </div>
       </div>
       <div class="gallery-bottom">
           <img src="../static/images/gallery1.jpeg" alt="No image">
           <img src="../static/images/gallery2.jpg" alt="No image">
           <img src="../static/images/gallery3.jpeg" alt="No image">
           <img src="../static/images/gallery4.jpeg" alt="No image">
           <img src="../static/images/gallery5.jpeg" alt="No image">
           <img src="../static/images/gallery6.jpeg" alt="No image">
           <img src="../static/images/gallery7.jpeg" alt="No image">
           <img src="../static/images/gallery8.jpeg" alt="No image">
           <img src="../static/images/gallery9.jpeg" alt="No image">
       </div>
   </div>
</section>
<!--End of gallery section-->
</body>
</html>