<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<!--Start of navbar-->
<div class="top">
    <div class="top-left">
        <h2>KindredSouls<span>Foundation</span></h2>
    </div>
    <div class="top-right">
        <a href="index.html"><button>Home</button></a>
        <a href="about.html"><button>About</button></a>
        <a href="gallery.html"><button>Gallery</button></a>
        <a href="team.html"><button>Team</button></a>
        <a href="events.html"><button>Events</button></a>
        <a href="contact.html"><button>Contact</button></a>
    </div>
</div>
<!--End of navbar-->
<!--Start of team section-->
<section class="team-section">
    <div class="team-container">
        <div class="team-top">
            <div class="member">
                <img src="../static/images/team2.jpg" alt="No image">
                <h2>Helna Wanjiku</h2>
                <h3>ChairPerson</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur impedit, incidunt ipsa nemo obcaecati? Accusantium
                    aut eaque ex odio! Deserunt fugit ipsum possimus quod repudiandae sunt. Aperiam, aut, sed?</p>
            </div>
            <div class="member">
                <img src="../static/images/team1.jpg" alt="No image">
                <h2>Jeff Malone</h2>
                <h3>Assistant ChairPerson</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet delectus, dolorum error eum ex facilis fugiat illo inventore
                    libero neque, nihil numquam provident ratione repellendus saepe ut, voluptates voluptatum.</p>
            </div>
            <div class="member">
                <img src="../static/images/team3.jpg" alt="No image">
                <h2>Mike Ross</h2>
                <h3>Treasurer</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam cupiditate delectus dicta dolor facilis harum hic
                    iste libero minus natus nemo numquam pariatur, possimus quasi quibusdam quo quod soluta velit.</p>
            </div>
        </div>
        <div class="team-middle">
            <div class="member">
                <img src="../static/images/team4.jpg" alt="No image">
                <h2>Tara Messer</h2>
                <h3>Secretary</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deserunt exercitationem incidunt nostrum obcaecati ratione repellendus sunt
                    vero. Assumenda ipsum laboriosam maxime sequi unde. A assumenda facere molestiae repellat rerum?</p>
            </div>
            <div class="member">
                <img src="../static/images/team6.jpg" alt="No image">
                <h2>Harvey Specter</h2>
                <h3>Organizer</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid dignissimos enim excepturi expedita id, ipsam libero magnam magni
                    praesentium quaerat quidem reiciendis rem reprehenderit tempora? Explicabo ipsam quo sapiente!</p>
            </div>
            <div class="member">
                <img src="../static/images/team5.jpg" alt="No image">
                <h2>Loise Muthoni</h2>
                <h3>Lead Volunteer</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam delectus dolore ducimus est et excepturi facere iusto
                    laudantium minima, natus neque officia placeat, recusandae reiciendis sed sequi velit? Incidunt!</p>
            </div>
        </div>
        <div class="team-bottom">
            <div class="member">
                <img src="../static/images/team7.jpg" alt="No image">
                <h2>Paula Agard</h2>
                <h3>Public Relations</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque cumque cupiditate error facere incidunt nemo omnis, qui
                    vitae voluptatem voluptates voluptatibus. Culpa, officia, ut. Ab iure nulla perferendis reiciendis?</p>
            </div>
        </div>
    </div>
</section>
<!--End of team section-->
</body>
</html>